header.header
    a.header__logo-link(href=routes.home)
        img.header__logo(src="http://info.korea.ac.kr/_res/info/img/community/img_kweb.gif")
    a.header__title(href=routes.home) KWEB Board
    .header__column
        if !loggedUser
            a.header__login(href=routes.login) log in
            a.header__join(href=routes.join) join
        else 
            if loggedUser.isStudent
                a.header__newNotices(href=routes.newNotices())
                    i.fas.fa-exclamation
            a.header__userDetail(href=routes.userDetail())
                i.fas.fa-user
            a.header__logout(href=routes.logout) log out